{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Editar cliente - Cobro</title>

    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
</head>

<body>

    <div class="contenedor">
        <a
            href="{% url 'lista_clientes' %}"
            class="boton-volver"
        >
            ← Volver a clientes
        </a>
        <div class="encabezado">
            <h1>Editar cliente</h1>
        </div>

        <div class="formulario">

            <form method="post">
                {% csrf_token %}

                {{ formulario.as_p }}

                <button type="submit" class="boton-guardar">
                    Guardar cambios
                </button>
            </form>

            <a href="{% url 'lista_clientes' %}" class="boton-cancelar">
                Cancelar
            </a>

        </div>

    </div>

</body>
</html>